{% extends 'base.html.twig' %}
{% set current = 'production' %}
{% block title %}Theaterstücke{% endblock %}

{% block body %}

<h1>Unsere Theaterstücke</h1>
<p>Im Laufe der Jahre haben wir jede Menge unterschiedliche Stücke gespielt. Das einzige, was alle gemeinsam haben:
Wir hatten richtig Lust darauf und jede Menge Spaß dabei!<br/>
</p>
<div class="card-deck">
    {% for production in productions %}
    <div class="card mb-4">
        {% if production.mainImage %}
        <a class="no-dec" href="{{ path('app_production_detail', {id: production.id}) }}">
            <img alt="{{ production.play.title }}" src="{{ asset('img/'~production.mainImage.filename) }}" class="card-img-top">
        </a>
        {% endif %}
        <div class="card-body">
            <a class="d-sm-none d-md-block" href="{{ path('app_production_detail', {id: production.id}) }}">
                <h5 class="card-title">{{ production.play.title }} ({{ production.year }})</h5>
            </a>
            <p class="card-text small text-muted">von {{ production.play.author }}</p>
        </div>
    </div>

    {% if loop.index is divisible by(3) %}
    </div>
    <div class="card-deck">
    {% endif %}
    {% endfor %}
</div>

{% endblock %}
